.pointButton {
    padding: 5px;
    outline-color: black;
    background-color: white;
    display: inline-block;
    -webkit-user-select: none;
    /* Chrome/Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+ */
    cursor: pointer;
}

.pointButton:hover {
    padding: 5px;
    outline-color: inherit;
    background-color: #d3d3d3;
    cursor: pointer;
}
.shopItems {
  list-style: none;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
.shopItems tr td {
  border-left-color: black;
  border-left-width: medium;
}

.upgradeName {
  color: #000;
  font-weight: bold;
  cursor: default;
}

.points {
  display: inline;
}
.pointDisplay {
  padding-left: 7px;
  display: inline-block;
}
.cost {
  color: black;
  display: inline-block;
  font-weight: normal;
}
.upgradeButton {
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
}
